<div class="movie-detail">
  <h1>{{title}}</h1>
  <img src="../server/images/{{image}}" alt="{{title}}" class="movie-poster">
  <p><strong>Description:</strong> {{description}}</p>
  <p><strong>Réalisateur:</strong> {{director}}</p>
  <p><strong>Année:</strong> {{date}}</p>
  <p><strong>Catégorie:</strong> {{type}}</p>
  <p><strong>Durée:</strong> {{length}} minutes</p>
  <p><strong>Restrictions d'âge:</strong> {{min_age}} ans</p>
  <div class="trailer">
    <h2>Trailer</h2>
    <iframe width="560" height="315" src="{{trailer}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>