.movie-category {
  margin-bottom: 3rem;
}

.movie-category__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--color-white--);
}

.movie-category__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

