/* ===== CONTAINER ===== */
.liste {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ===== GRILLE MOBILE FIRST ===== */
.liste__list {
    display: grid;
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
    gap: 1.5rem;
    margin-top: 6rem;
    list-style: none;
    padding: 0;
    justify-items: center; /* centre les cartes */
}

/* ===== CARTE ===== */
.liste__item {
    background: var(--color-dark-blue);
    border-radius: 0.4rem;
    width: 100%;
    max-width: 14rem; /* largeur idéale mobile */
    text-align: left;
    transition: transform 0.2s ease;
}

/* ===== IMAGE ===== */
.liste__image {
    width: 100%; /* responsive */
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 0.2rem;
    display: block;
    cursor: pointer;
}

/* ===== TITRES ===== */
.liste__titre-film {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
}

.liste__director-film {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-gray-light);
}

/* ===== TITRES DE SECTION ===== */
.liste__list > h2 {
    grid-column: 1 / -1;
    justify-self: start;
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);

    /* ALIGNEMENT PARFAIT AVEC LA PREMIÈRE AFFICHE */
    max-width: 13rem;
    padding-left: 2rem;
}


/* ===== TABLETTE ===== */
@media (min-width: 600px) {
    .liste__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

/* ===== DESKTOP  ===== */
@media (min-width: 900px) {
    .liste__list {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        max-width: 900px;
        margin: 0 auto;
        margin-top: 10rem;
    }
}
