/* ====== GRAND BANDEAU HEADER ====== */
.movie-header {
    width: 100%;
    height: 28rem; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.35); 
    margin-bottom: 4rem;
}

/* ====== MOVIE DETAIL ====== */
.movie-detail {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 3rem;
}

/* Layout principal */
.movie-detail__top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

/* Petite affiche (desktop) */
.movie-detail__poster {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
}

/* Texte */
.movie-detail__content {
    width: 100%;
    text-align: left;
}

.movie-detail__title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: left;
    color: var(--color-white);
}

.movie-detail__info {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    text-align: left;
    color: var(--color-gray-light);
    
}

.movie-detail__info strong {
    color: var(--color-white);
}

/* Trailer */
.movie-detail__trailer {
    margin-top: 3rem;
}

.movie-detail__trailer-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-white);
}

.movie-detail__trailer iframe {
    width: 100%;
    height: 28rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
}

/* ====== MOBILE ====== */
@media (max-width: 900px) {

    
    .movie-header {
        display: none;
    }

   
    .movie-detail__poster {
        width: 100%;
        max-width: 22rem;
        height: 18rem; 
        object-fit: cover;
        object-position: center top;
        
    }

    /* Layout mobile */
    .movie-detail__top {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .movie-detail__content {
        text-align: center;
    }
}

/* ====== DESKTOP ====== */
@media (min-width: 900px) {

    .movie-detail__top {
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
    }

    .movie-detail__poster {
        width: 20rem;
        height: 30rem;
    }

    .movie-detail__title {
        font-size: 4rem;
    }

    .movie-detail__trailer iframe {
        height: 35rem;
    }
}
